.introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
   

    .intro {
        padding-top: 15%;
        
        @media screen and (min-width: 1000px) {
            padding-left: 15%;
            padding-right: 15%;
        }
        z-index: 2;

    }

    .background-img {
        object-fit: fill;
        width: 100%;
        position: absolute;
        top: 0;
        height: 100vh;
        @media (max-width: 1000px) {
            height: 65vh;
            }
        
    }

    text-align: center;
     font-style: normal;
    font-weight: 700;
    
    .name {
        text-shadow: 0 0 10px #1A191D;
        line-height: 144px;
        font-size: 128px;
     
        text-transform: uppercase;
        color: #FFFFFF;

        @media screen and (max-width: 1000px) {
            font-size: 55px;
        }

        @media screen and (max-width: 650px) {
            font-size: 55px;
        }

        @media screen and (max-width: 440px) {
            font-size: 35px;
        }

        @media screen and (max-width: 300px) {
            font-size: 25px;
        }

    }

    .tagline {
        font-size: 24px;
        color: #65D9ED;
        margin: 10px 35px 25px 35px;
        }

 }